@import "tailwindcss";

:root {
  --color-primary: #2fdbff;
  --color-secondary: #1fa0bd;
  --color-tertiary: #011321;
  --color-background: #05060b;
  --color-layout-light: #0065ae;
  --color-layout-dark: #001f35;
}

@theme {
  --color-primary: #2fdbff;
  --color-secondary: #1fa0bd;
  --color-tertiary: #011321;
  --color-background: #05060b;
  --color-layout-light: #0065ae;
  --color-layout-dark: #001f35;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
